* {
  margin: 0;
  padding: 0; }

body {
  background-color: white; }

/*header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(244,7,32,1) 35%);
    
}*/
nav {
  background-color: black; }

div {
  background-color: white;
  color: black; }

footer {
  background-color: f1f1f1; }

.code {
  font-size: 80%;
  height: 200px;
  background: linear-gradient(90deg, #020024 0%, #f40720 35%); }

header {
  font-family: 'Roboto', sans-serif; }

footer {
  font-family: 'PT Serif', serif; }

h1 {
  font-size: larger; }

.barra-1 {
  background-color: darkred;
  color: #800c0c;
  height: 15px;
  border-radius: 15px; }

.barra-2 {
  background-color: purple;
  color: #800c0c;
  height: 15px;
  border-radius: 15px; }

.barra-3 {
  background-color: skyblue;
  color: #800c0c;
  height: 15px;
  border-radius: 15px; }

.barra-4 {
  background-color: #d66407;
  color: #800c0c;
  height: 15px;
  border-radius: 15px; }

body {
  background-color: white; }

div {
  color: black;
  background-color: white; }

h1 {
  font-size: 86px;
  color: #111111; }

h2 {
  color: black; }

h3 {
  font-size: 25px;
  padding-top: 0%;
  padding-bottom: 0%; }

p {
  display: inline; }

ul {
  background-color: black; }

a {
  color: white; }
  a :hover {
    font-weight: 25px;
    color: white; }

.redes1 {
  background-color: #f1f1f1; }

/* desde aqui hay union*/
.banner {
  background-image: url(../imagenes/Nigiri.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  border-radius: 10px; }

/*.pedidosO {
	background-image: url(../imagenes/ver.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}*/
.sakura {
  font-family: 'Libre Baskerville', serif; }

.menu {
  /*    display: flex;
    justify-content: center;*/
  font-style: italic;
  border-radius: 15px;
  font-size: 18px; }

.contenedor.menu {
  height: max-content;
  padding-top: 12px; }

.menu2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  padding-top: 30px;
  grid-row-gap: 5px; }

.menu2 :hover {
  width: 250px;
  height: 150px; }

.menu3 {
  font-family: 'Libre Baskerville', serif; }

.promo1 {
  font-family: 'Libre Baskerville', serif; }

.contacto2 {
  font-family: 'Libre Baskerville', serif; }

.redes1 {
  margin: 0px;
  display: inline-flex;
  justify-content: center;
  width: 250px;
  gap: 1rem;
  text-decoration: none; }

.pedidos {
  font-size: 50px;
  margin-top: 10px;
  padding-top: 10px; }

.imagen3 {
  position: relative;
  top: 40px; }

.contacto1 {
  display: grid;
  grid-template-areas: "contacto1";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  padding-top: 5%;
  padding-left: 15px;
  background: radial-gradient(circle, #020024 0%, #28287c 31%, #02b5eb 90%);
  background-repeat: no-repeat; }

.datos {
  font-size: 30px;
  padding-right: 25px; }

.footer1 {
  font-style: italic;
  font-size: small;
  height: 250px;
  padding-left: 2rem;
  background: linear-gradient(90deg, #ceced1 0%, #7c7c83 8%, #eff3f5 90%);
  border-radius: 3rem;
  border-color: white; }
