*{
    margin: 0;
    padding: 0;
}
body {
    background-color: white
}
/*header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(244,7,32,1) 35%);
    
}*/

nav {
    background-color: black;
}

div {
    background-color: white;
    color: black;
    
}

footer{
    background-color: f1f1f1;
}

.code {
    font-size: 80%;
    height: 200px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(244,7,32,1) 35%);
}


/* maps*/
$color_texto: (blanco:white,negro:black);
$color_fondo: (fondo:red,naranja:orange);

@each $var in $color_texto {
    .#{$var} {
        color:negro;
}

@each $var in color_fondo {
    .#{$var} {
        background-color:red;
    }
    
}
    
}