@mixin barra ($fondo, $alto){
    background-color: $fondo;
    color: rgb(128, 12, 12);
    height: $alto;
    border-radius: 15px;

}

.barra-1 {
    @include barra (#D0D3D4,15px);
}

.barra-2 {
    @include barra (purple, 12px);
}
.barra-3 {
    @include barra (skyblue, 10px);
}
.barra-4 {
    @include barra (rgb(214, 100, 7),16px);

}